h1, li{
    color: blue;
}

body {
    background: url("images/photo-Burger.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Logo {
    max-width: 40%;
    height: 20%;
    margin-top: 10px;
    margin-left: -1%;
}