
body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/img1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin: 0;
    font-family: 'Arial';
}

a {
    display: block;
    text-align: center;
    color: gold;
    font-weight: bold;
    margin-right: 5%;
    margin-top: -390px;
    font-size: 34px;
}


