
body {
    background: url("images/img1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin: 0;
    font-family: 'Arial';
}

a {
    display: flex;
    justify-content: center;  
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    background-color: #DD7835;
    color: white;
    font-weight: bold;
    padding: 10px 45px;
    border-radius: 5px;
    margin: clamp(430px, 5vw, 50px) auto;
    height: auto;
    font-size: 34px;
}


