{% load static %}
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Menu des Burgers</title>
    <link rel="stylesheet" href="{% static 'menu/style.css' %}?v=1.0">
  </head>
  <body>
    <a href="{%url 'main:main_index'%}"><img src="{% static 'menu/images/logo.png' %}" alt="Logo du restaurant" class="Logo"></a>
    

  <div class="menu-title">
    <h1>Les Burgers</h1>
  </div>

  <div class="menu-list">
        {% for burger in burgers %}
        <div class="menu-item">
          <a href="">
            <span class="menu-item-name">{{ burger.nom }}</span>
          </a>
          <span class="menu-item-price">{{ burger.prix | floatformat:2 }}€</span>
          <span class="menu-item-ingredients">{{ burger.ingredients }}</span>
          {% if burger.vegetarien %}
              <span class="menu-item-vegetarien">Végétarien</span>
          {% endif %}
        </div>
        {% endfor %}
    </div>

  </body>
</html>