{% load static %}
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Menu des Burgers</title>
    <link rel="stylesheet" href="{% static 'menu/style.css' %}?v=1.0">
  </head>
  <body>
    <img src="{% static 'menu/images/logo.png' %}" alt="Logo du restaurant" class="Logo">

  <div class="menu-title">
    <h1>Les Burgers</h1>
  </div>

  <div class="menu-list">
        {% for burger in burgers %}
        <div class="menu-item">
          <span class="menu-item-name">{{ burger.nom }}</span>
          <span class="menu-item-price">{{ burger.prix }}€</span>
          <span class="menu-item-ingredients">{{ burger.ingredients }}</span>
          
        </div>
        {% endfor %}
    </div>

  </body>
</html>